In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 26)

from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

import datetime as dt

In [2]:
train = pd.read_excel('Train/train_Data.xlsx')
test = pd.read_excel('test_Data.xlsx')
print(train.head())
print(test.head())

   ID Frequency InstlmentMode LoanStatus   PaymentMode  BranchID      Area  \
0   1   Monthly        Arrear     Closed         PDC_E         1       NaN
1   2   Monthly       Advance     Closed           PDC       333    BHOPAL
2   3   Quatrly        Arrear     Active  Direct Debit         1       NaN
3   7   Monthly       Advance     Closed        Billed       125      GUNA
4   8   Monthly        Arrear     Closed        Billed       152  BILASPUR

   Tenure  AssetCost  AmountFinance  DisbursalAmount      EMI DisbursalDate  \
0      48     450000       275000.0         275000.0  24000.0    2012-02-10
1      47     485000       350000.0         350000.0  10500.0    2012-03-31
2      68     690000       519728.0         519728.0  38300.0    2017-06-17
3      48     480000       400000.0         400000.0  11600.0    2013-11-29
4      44     619265       440000.0         440000.0  15000.0    2011-12-08

  MaturityDAte   AuthDate   AssetID  ManufacturerID  SupplierID    LTV SEX  \
0   2016-01-15 2012-02-10   4022465            1568       21946  61.11   M
1   2016-02-15 2012-03-31   4681175            1062       34802  70.00   M
2   2023-02-10 2017-06-17  25328146            1060      127335  69.77   M
3   2017-11-10 2013-11-29  13021591            1060       25094  80.92   M
4   2015-07-05 2011-12-08   3291320            1046       21853  71.05   M

    AGE  MonthlyIncome         City           State   ZiPCODE  \
0  49.0       35833.33       RAISEN  MADHYA PRADESH  464993.0
1  23.0         666.67       SEHORE  MADHYA PRADESH  466001.0
2  39.0       45257.00       BHOPAL  MADHYA PRADESH  462030.0
3  24.0       20833.33  ASHOK NAGAR  MADHYA PRADESH  473335.0
4  56.0       27313.67     BILASPUR     CHATTISGARH  495442.0

        Top-up Month
0        > 48 Months
1  No Top-up Service
2       12-18 Months
3        > 48 Months
4       36-48 Months
    ID    Frequency InstlmentMode LoanStatus PaymentMode  BranchID     Area  \
0    4      Monthly       Advance     Closed       PDC_E         2     GUNA
1    5      Monthly       Advance     Closed         PDC         2     GUNA
2    6      Quatrly        Arrear     Closed         PDC         2     GUNA
3   25  Half Yearly        Arrear     Closed      Billed       154      NaN
4  119      Quatrly        Arrear     Closed         PDC       194  CUTTACK

   Tenure  AssetCost  AmountFinance  DisbursalAmount      EMI DisbursalDate  \
0      46     480000       365000.0         365000.0   1000.0    2011-12-29
1      45     480000       285000.0         285000.0   9300.0    2012-04-28
2      48     580000       400000.0         400000.0  35800.0    2013-10-22
3      36     725000       500000.0         500000.0  52000.0    2013-05-21
4      48     617000       400000.0         400000.0  35400.0    2012-11-30

  MaturityDAte   AuthDate   AssetID  ManufacturerID  SupplierID    LTV SEX  \
0   2015-10-05 2011-12-29   3524747          1046.0       22354  75.83   M
1   2016-01-01 2012-04-28   4985862          1046.0       22354  57.44   M
2   2017-09-10 2013-10-22  12881783          1060.0       65929  68.97   M
3   2016-02-10 2013-05-21  10613776          1049.0       68597  61.79   M
4   2016-12-05 2012-11-30   7911110          1049.0       38493  59.09   M

    AGE  MonthlyIncome            City           State   ZiPCODE
0  50.0       32069.00            GUNA  MADHYA PRADESH  473001.0
1  35.0       25000.00            GUNA  MADHYA PRADESH  473001.0
2  37.0       23333.33            GUNA  MADHYA PRADESH  473001.0
3  55.0       91666.67      MAHASAMUND     CHATTISGARH  493558.0
4  48.0       12500.00  JAGATSINGHAPUR          ORISSA  754137.0

In [3]:
submission = pd.read_csv('sample_submission_ejm25Dc.csv')
submission.head()

    ID  Top-up Month
0    4  36-48 Months
1    5  18-24 Months
2    6  30-36 Months
3   25  30-36 Months
4  119  30-36 Months

In [4]:
train_shape = train.shape
test_shape = test.shape

In [5]:
print("Shape of Train :", train.shape)
print("Shape of Test :", test.shape)
print("Shape of Submission :", submission.shape)

Shape of Train : (128655, 26)
Shape of Test : (14745, 25)
Shape of Submission : (14745, 2)

In [6]:
target = train[['Top-up Month']]

In [7]:
data = pd.concat((train, test)).reset_index(drop=True)
data.drop(['Top-up Month'], axis=1, inplace=True)
data.head()

C:\Users\anmol\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,AGE,AmountFinance,Area,AssetCost,AssetID,AuthDate,BranchID,City,DisbursalAmount,DisbursalDate,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MaturityDAte,MonthlyIncome,PaymentMode,SEX,State,SupplierID,Tenure,ZiPCODE
0,49.0,275000.0,NaN,450000,4022465,2012-02-10,1,RAISEN,275000.0,2012-02-10,24000.0,Monthly,1,Arrear,61.11,Closed,1568.0,2016-01-15,35833.33,PDC_E,M,MADHYA PRADESH,21946,48,464993.0
1,23.0,350000.0,BHOPAL,485000,4681175,2012-03-31,333,SEHORE,350000.0,2012-03-31,10500.0,Monthly,2,Advance,70.00,Closed,1062.0,2016-02-15,666.67,PDC,M,MADHYA PRADESH,34802,47,466001.0
2,39.0,519728.0,NaN,690000,25328146,2017-06-17,1,BHOPAL,519728.0,2017-06-17,38300.0,Quatrly,3,Arrear,69.77,Active,1060.0,2023-02-10,45257.00,Direct Debit,M,MADHYA PRADESH,127335,68,462030.0
3,24.0,400000.0,GUNA,480000,13021591,2013-11-29,125,ASHOK NAGAR,400000.0,2013-11-29,11600.0,Monthly,7,Advance,80.92,Closed,1060.0,2017-11-10,20833.33,Billed,M,MADHYA PRADESH,25094,48,473335.0
4,56.0,440000.0,BILASPUR,619265,3291320,2011-12-08,152,BILASPUR,440000.0,2011-12-08,15000.0,Monthly,8,Arrear,71.05,Closed,1046.0,2015-07-05,27313.67,Billed,M,CHATTISGARH,21853,44,495442.0

In [8]:
data.shape

(143400, 25)

In [9]:
def details(df):
    a = pd.DataFrame()
    a['Count'] = df.count()
    a['Null values'] = df.isnull().sum()
    a['Data types'] = df.dtypes
    a['No. of Unique values'] = df.nunique()
    return(a)

In [10]:
details(data).T

,AGE,AmountFinance,Area,AssetCost,AssetID,AuthDate,BranchID,City,DisbursalAmount,DisbursalDate,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MaturityDAte,MonthlyIncome,PaymentMode,SEX,State,SupplierID,Tenure,ZiPCODE
Count,143334,143400,131201,143400,143400,143400,143400,132144,143400,143400,143400,143400,143400,143400,143400,143400,143398,143399,143152,143400,143336,143400,143400,143400,143027
Null values,66,0,12199,0,0,0,0,11256,0,0,0,0,0,0,0,0,2,1,248,0,64,0,0,0,373
Data types,float64,float64,object,int64,int64,datetime64[ns],int64,object,float64,datetime64[ns],float64,object,int64,object,float64,object,float64,datetime64[ns],float64,object,object,object,int64,int64,float64
No. of Unique values,73,22183,103,8168,143400,2713,214,514,21061,2847,25912,4,143400,2,8070,2,13,982,12271,11,2,22,4971,142,9908

In [11]:
data.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
AGE,143334,NaN,NaN,NaN,NaN,NaN,40.6205,11.7022,18,31,40,49,90
AmountFinance,143400,NaN,NaN,NaN,NaN,NaN,351150,105455,50000,300000,350000,416960,1.30835e+06
Area,131201,103,LUCKNOW,9547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AssetCost,143400,NaN,NaN,NaN,NaN,NaN,557602,107049,200000,500000,555000,616000,2.25e+06
AssetID,143400,NaN,NaN,NaN,NaN,NaN,1.64289e+07,9.3329e+06,422271,1.00197e+07,1.50741e+07,2.51292e+07,3.70667e+07
AuthDate,143400,2713,2017-10-31 00:00:00,1438,2010-02-03 00:00:00,2019-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BranchID,143400,NaN,NaN,NaN,NaN,NaN,169.69,115.789,1,53,164,276,424
City,132144,514,NALGONDA,2483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DisbursalAmount,143400,NaN,NaN,NaN,NaN,NaN,350779,105243,2894,300000,350000,415000,1.30835e+06
DisbursalDate,143400,2847,2017-10-31 00:00:00,1429,2010-02-01 00:00:00,2019-11-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EMI,143400,NaN,NaN,NaN,NaN,NaN,55467.3,28796.9,0,32900,60000,74000,460000
Frequency,143400,4,Half Yearly,87101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID,143400,NaN,NaN,NaN,NaN,NaN,71700.5,41396.2,1,35850.8,71700.5,107550,143400
InstlmentMode,143400,2,Arrear,136586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LTV,143400,NaN,NaN,NaN,NaN,NaN,59.3455,15.6077,-1.38,49.3,61.02,70.83,100
LoanStatus,143400,2,Closed,105723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ManufacturerID,143398,NaN,NaN,NaN,NaN,NaN,1166.99,256.109,1019,1046,1062,1186,3473
MaturityDAte,143399,982,2018-06-10 00:00:00,2788,2010-11-15 00:00:00,2059-08-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,143152,NaN,NaN,NaN,NaN,NaN,49784.5,1.6337e+06,0,25000,35833.3,50000,6.17478e+08
PaymentMode,143400,11,ECS,35143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEX,143336,2,M,136273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,143400,22,MADHYA PRADESH,22495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SupplierID,143400,NaN,NaN,NaN,NaN,NaN,56381.2,36044.8,5879,24104,39428,86328,145518
Tenure,143400,NaN,NaN,NaN,NaN,NaN,42.7199,23.2267,5,36,36,48,501
ZiPCODE,143027,NaN,NaN,NaN,NaN,NaN,424879,172878,110000,305801,458110,517391,855456

In [12]:
data['Frequency'].unique()

array(['Monthly', 'Quatrly', 'Half Yearly', 'BI-Monthly'], dtype=object)

In [13]:
data['Frequency'] = data['Frequency'].map({'Monthly':0, 'Quatrly':1, 'Half Yearly':2, 'BI-Monthly':3})

In [14]:
data['InstlmentMode'].unique()

array(['Arrear', 'Advance'], dtype=object)

In [15]:
data['InstlmentMode'] = data['InstlmentMode'].map({'Arrear':0, 'Advance':1})

In [16]:
data['LoanStatus'].unique()

array(['Closed', 'Active'], dtype=object)

In [17]:
data['LoanStatus'] = data['LoanStatus'].map({'Closed':0, 'Active':1})

In [18]:
data['PaymentMode'].unique()

array(['PDC_E', 'PDC', 'Direct Debit', 'Billed', 'ECS', 'Auto Debit',
       'SI Reject', 'ECS Reject', 'Cheque', 'PDC Reject', 'Escrow'],
      dtype=object)

In [19]:
data['PaymentMode'] = LE.fit_transform(data['PaymentMode'])

In [20]:
data['BranchID'].nunique()

214

In [21]:
data['BranchID'] = data['BranchID'].astype(str)

In [22]:
data['BranchID'] = LE.fit_transform(data['BranchID'])

In [23]:
data[data['MaturityDAte'].isnull()]

,AGE,AmountFinance,Area,AssetCost,AssetID,AuthDate,BranchID,City,DisbursalAmount,DisbursalDate,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MaturityDAte,MonthlyIncome,PaymentMode,SEX,State,SupplierID,Tenure,ZiPCODE
53392,43.0,400000.0,MANDSAUR,495000,9510810,2013-03-16,67,MANDSAUR,400000.0,2013-03-15,0.0,0,57606,0,80.81,0,1046.0,NaT,41666.67,1,M,MADHYA PRADESH,55150,45,458880.0

In [24]:
data['MaturityDAte'].fillna(pd.to_datetime('2016-12-15'), inplace=True)

In [25]:
data['ManufacturerID'].nunique()

13

In [26]:
data[data['ManufacturerID'].isnull()]

,AGE,AmountFinance,Area,AssetCost,AssetID,AuthDate,BranchID,City,DisbursalAmount,DisbursalDate,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MaturityDAte,MonthlyIncome,PaymentMode,SEX,State,SupplierID,Tenure,ZiPCODE
129088,32.0,385000.0,GUNA,520000,12486458,2013-09-06,9,ASHOK NAGAR,385000.0,2013-09-06,67200.0,2,4394,0,61.12,0,NaN,2017-06-10,31800.00,7,M,MADHYA PRADESH,23156,48,473443.0
141339,58.0,480000.0,LUCKNOW,650000,14837714,2015-01-23,65,HARDOI,480000.0,2015-01-23,24400.0,0,116966,0,70.09,1,NaN,2017-01-10,16666.67,9,M,UTTAR PRADESH,98657,24,241001.0

In [27]:
data['ManufacturerID'].fillna(0, inplace=True)

In [28]:
data['ManufacturerID'] = data['ManufacturerID'].astype(str)

In [29]:
data['ManufacturerID'] = LE.fit_transform(data['ManufacturerID'])

In [30]:
data['SupplierID'].nunique()

4971

In [31]:
data['SupplierID'] = data['SupplierID'].astype(str)

In [32]:
data['SupplierID'] = LE.fit_transform(data['SupplierID'])

In [33]:
data['SEX'].unique()

array(['M', nan, 'F'], dtype=object)

In [34]:
data['SEX'] = data['SEX'].fillna(data['SEX'].mode()[0])

In [35]:
data['SEX'].unique()

array(['M', 'F'], dtype=object)

In [36]:
data['SEX'] = data['SEX'].map({'M':0, 'F':1})

In [37]:
data['AGE']=data['AGE'].fillna(data['AGE'].median())

In [38]:
data['AGE'] = data['AGE'].astype(int)

In [39]:
data['MonthlyIncome']=data['MonthlyIncome'].fillna(0)

In [40]:
data['State'] = LE.fit_transform(data['State'])

In [41]:
data['ZiPCODE'].nunique()

9908

In [42]:
data[data['ZiPCODE'].isnull()]

,AGE,AmountFinance,Area,AssetCost,AssetID,AuthDate,BranchID,City,DisbursalAmount,DisbursalDate,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MaturityDAte,MonthlyIncome,PaymentMode,SEX,State,SupplierID,Tenure,ZiPCODE
246,33,300000.0,BURDWAN,557976,1486208,2011-05-10,210,NaN,300000.0,2011-05-10,15040.0,0,254,1,51.07,0,4,2013-03-10,23333.33,1,0,21,3069,23,NaN
247,19,290000.0,BURDWAN,491998,1501058,2011-05-13,210,NaN,290000.0,2011-05-13,10300.0,0,255,1,56.85,0,2,2014-03-05,14733.33,1,0,21,2447,35,NaN
248,41,250000.0,BURDWAN,539092,1517344,2011-05-16,210,NaN,250000.0,2011-05-16,12535.0,0,256,1,44.05,0,1,2013-03-10,20833.33,1,0,21,2622,23,NaN
249,51,100000.0,BURDWAN,522092,1561868,2011-05-24,210,NaN,100000.0,2011-05-24,8500.0,0,257,1,17.53,0,1,2012-04-05,18000.00,1,0,21,2063,12,NaN
256,28,300000.0,BURDWAN,525442,1599023,2011-05-30,210,NaN,300000.0,2011-05-30,15000.0,0,264,1,54.24,0,2,2013-01-05,31833.33,1,0,21,2447,20,NaN
258,32,350000.0,BURDWAN,621313,1615023,2011-05-31,210,NaN,350000.0,2011-05-31,12600.0,0,266,0,54.30,0,2,2014-05-05,23333.33,1,0,21,2447,35,NaN
259,24,200000.0,NaN,506896,1620506,2011-05-31,1,NaN,200000.0,2011-05-31,10030.0,0,267,1,37.48,0,1,2013-04-05,16000.00,7,0,21,2063,23,NaN
645,43,200000.0,KANPUR,349500,1623214,2011-05-31,58,NaN,200000.0,2011-05-31,10100.0,0,663,0,57.22,0,8,2013-06-05,33333.33,1,0,19,2785,24,NaN
646,24,200000.0,KANPUR,343000,1680543,2011-06-13,58,NaN,200000.0,2011-06-13,31100.0,0,664,0,58.31,0,1,2013-04-05,25000.00,7,0,19,2505,23,NaN
740,28,200000.0,LUCKNOW,475000,1686415,2011-06-14,65,NaN,200000.0,2011-06-14,13011.0,0,773,0,42.11,0,5,2012-12-05,20833.33,1,0,20,3338,18,NaN
852,27,350000.0,AHMEDABAD AMBAVADI,425000,1621152,2011-05-31,191,NaN,350000.0,2011-05-31,31350.0,0,898,0,82.35,0,5,2015-05-15,20833.33,1,0,7,2823,48,NaN
981,40,627000.0,GANDHIDHAM,860000,841003,2010-11-26,194,NaN,627000.0,2010-11-26,22800.0,0,1032,0,70.26,0,7,2013-09-15,0.00,7,0,7,3930,34,NaN
1062,39,200000.0,NaN,430000,1590402,2011-05-30,201,NaN,200000.0,2011-05-30,35225.0,0,1114,0,46.51,0,4,2013-05-15,25750.00,7,0,7,2061,24,NaN
1139,45,800000.0,VIJAYAWADA,1310560,1578511,2011-05-27,12,NaN,800000.0,2011-05-27,30060.0,0,1193,0,61.04,0,7,2014-05-01,76833.33,7,0,0,1925,35,NaN
1192,22,325000.0,LUDHIANA FEROZ GANDHI MARKET,465000,1479975,2011-05-09,18,NaN,325000.0,2011-05-09,30062.0,0,1246,0,69.89,0,6,2015-04-15,45625.00,1,0,15,2803,48,NaN
1328,38,100000.0,NaN,265000,1591691,2011-05-30,22,NaN,100000.0,2011-05-30,27600.0,0,1388,0,37.74,0,8,2012-05-15,20833.33,1,0,15,2303,12,NaN
1444,41,400000.0,KARNAL,570000,1575483,2011-05-26,63,NaN,400000.0,2011-05-26,37150.0,0,1515,0,70.18,0,2,2015-05-15,50000.00,1,0,8,2661,48,NaN
1445,26,350000.0,KARNAL,545000,1667821,2011-06-11,63,NaN,350000.0,2011-06-11,17350.0,0,1516,0,64.22,0,6,2013-06-01,33333.33,1,0,8,3334,25,NaN
1467,24,250000.0,CHANDIGARH,400000,496923,2010-04-30,44,NaN,250000.0,2010-04-30,28300.0,1,1540,0,55.43,0,6,2013-04-20,33333.33,7,0,8,2798,36,NaN
1511,31,280000.0,CHANDIGARH,450000,1489971,2011-05-11,44,NaN,280000.0,2011-05-11,26000.0,0,1584,0,62.22,0,6,2015-04-15,25000.00,1,0,8,3141,48,NaN
1512,25,280000.0,CHANDIGARH,425000,1527830,2011-05-18,44,NaN,280000.0,2011-05-18,26000.0,0,1585,0,65.88,0,2,2015-05-15,33333.33,1,0,8,2828,48,NaN
1513,53,350000.0,CHANDIGARH,480000,1586208,2011-05-28,44,NaN,350000.0,2011-05-28,13600.0,0,1586,0,72.92,0,6,2014-03-15,25000.00,1,0,8,2177,34,NaN
1514,30,300000.0,KARNAL,435000,1588063,2011-05-28,63,NaN,300000.0,2011-05-28,34100.0,0,1587,0,68.97,0,6,2014-05-15,20833.33,1,0,8,3158,36,NaN
1515,44,200000.0,CHANDIGARH,330000,1604611,2011-05-31,44,NaN,200000.0,2011-05-31,23000.0,0,1588,0,60.61,0,8,2014-05-15,25000.00,1,0,8,3214,36,NaN
1517,50,350000.0,CHANDIGARH,460000,1605223,2011-05-31,44,NaN,350000.0,2011-05-31,13600.0,0,1590,0,73.13,0,2,2014-04-01,20833.33,1,0,8,1901,34,NaN
1520,29,350000.0,KARNAL,550000,1708663,2011-06-18,63,NaN,350000.0,2011-06-18,17900.0,0,1593,0,60.38,0,1,2013-06-05,20833.33,1,0,8,3120,24,NaN
1674,29,190000.0,SIRSA,285000,1627731,2011-06-03,32,NaN,190000.0,2011-06-03,29688.0,0,1757,0,66.67,0,8,2013-05-15,48000.00,1,0,8,3313,24,NaN
2307,47,250000.0,NaN,450000,1557881,2011-05-23,0,NaN,250000.0,2011-05-23,2500.0,0,2443,1,55.00,0,8,2013-05-15,20250.00,1,0,12,2326,24,NaN
2313,25,185000.0,NaN,460000,1584624,2011-05-28,0,NaN,185000.0,2011-05-28,2000.0,0,2449,1,39.78,0,2,2013-05-15,20083.33,1,0,12,2779,24,NaN
2339,58,325000.0,NaN,475000,1637201,2011-06-06,0,NaN,325000.0,2011-06-06,14000.0,0,2475,0,68.42,0,8,2014-06-15,29166.67,1,0,12,1991,36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60511,27,200000.0,GULBARGA,598000,1603968,2011-05-31,34,NaN,200000.0,2011-05-31,60750.0,0,65523,0,33.44,0,4,2013-05-10,15966.67,1,0,11,1999,24,NaN
60515,40,300000.0,GULBARGA,638188,1684792,2011-06-14,34,NaN,300000.0,2011-06-14,62031.0,0,65527,0,47.01,0,7,2014-03-10,35333.33,1,0,11,3011,33,NaN
61088,37,150000.0,HOSHANGABAD,401000,462728,2010-03-18,35,NaN,150000.0,2010-03-18,1500.0,0,66153,1,37.03,0,8,2011-06-15,5000.00,7,0,12,3063,16,NaN
61641,22,320000.0,HOSHANGABAD,440000,1470230,2011-05-07,35,NaN,320000.0,2011-05-07,3200.0,0,66706,1,72.00,0,8,2014-12-15,20833.33,1,0,12,1970,45,NaN
61644,38,200000.0,HOSHANGABAD,597785,1506051,2011-05-14,35,NaN,200000.0,2011-05-14,4000.0,0,66709,1,32.79,0,6,2012-07-05,17663.33,1,0,12,2108,15,NaN
61651,53,250000.0,HOSHANGABAD,486000,1556821,2011-05-23,35,NaN,250000.0,2011-05-23,2500.0,0,66716,1,50.93,0,1,2013-06-15,25000.00,1,0,12,4758,26,NaN
61653,34,200000.0,HOSHANGABAD,415000,1573600,2011-05-26,35,NaN,200000.0,2011-05-26,15000.0,0,66718,0,48.19,0,8,2012-06-15,25000.00,1,0,12,3063,13,NaN
61658,36,200000.0,HOSHANGABAD,445000,1579105,2011-05-27,35,NaN,200000.0,2011-05-27,2600.0,0,66723,1,44.36,0,8,2013-05-10,20833.33,1,0,12,2448,25,NaN
61664,31,325000.0,HOSHANGABAD,545785,1591547,2011-05-30,35,NaN,325000.0,2011-05-30,3250.0,0,66729,1,58.95,0,6,2012-12-15,25000.00,1,0,12,2108,20,NaN
61673,29,200000.0,HOSHANGABAD,505000,1637467,2011-06-06,35,NaN,200000.0,2011-06-06,2000.0,0,66738,1,39.21,0,8,2013-02-10,20833.33,1,0,12,2352,22,NaN
61701,23,200000.0,HOSHANGABAD,605000,1769605,2011-06-28,35,NaN,200000.0,2011-06-28,60000.0,0,66766,0,33.06,0,4,2013-06-05,15000.00,1,0,12,2333,24,NaN
62774,33,400000.0,NIZAMABAD,623000,1638969,2011-06-06,186,NaN,400000.0,2011-06-06,44850.0,1,67961,0,64.21,0,7,2014-03-05,23750.00,1,0,0,3272,36,NaN
65519,66,300000.0,NaN,481000,1591498,2011-05-30,47,NaN,300000.0,2011-05-30,21160.0,0,72194,0,62.37,0,5,2013-02-01,33333.33,1,0,16,3123,20,NaN
65520,28,302580.0,NaN,498541,1604467,2011-05-31,47,NaN,302580.0,2011-05-31,55700.0,0,72195,0,60.69,0,1,2015-04-15,8333.33,1,0,16,4861,47,NaN
65522,44,300000.0,NaN,421000,1669828,2011-06-11,47,NaN,300000.0,2011-06-11,44300.0,0,72197,0,71.26,0,5,2013-05-15,29166.67,7,0,16,3123,23,NaN
67797,41,269000.0,PATNA,508185,1558036,2011-05-23,50,NaN,269000.0,2011-05-23,22417.0,0,74530,0,48.52,0,5,2012-06-01,16666.67,1,0,2,3270,12,NaN
67798,38,250000.0,PATNA,458525,1568451,2011-05-25,50,NaN,250000.0,2011-05-25,12500.0,0,74531,1,51.80,0,2,2012-12-15,25000.00,7,0,2,3243,20,NaN
67799,28,250000.0,PATNA,493000,1574005,2011-05-26,50,NaN,250000.0,2011-05-26,13750.0,0,74532,1,47.92,0,2,2013-02-15,145833.33,1,0,2,2278,22,NaN
67800,53,250000.0,PATNA,480000,1585435,2011-05-28,50,NaN,250000.0,2011-05-28,12500.0,0,74533,1,49.48,0,2,2013-01-01,16666.67,1,0,2,2278,20,NaN
67804,30,300000.0,PATNA,491525,1602863,2011-05-31,50,NaN,300000.0,2011-05-31,13750.0,0,74537,1,58.24,0,2,2013-05-05,20833.33,1,0,2,3243,24,NaN
67805,45,250000.0,PATNA,460000,1602913,2011-05-31,50,NaN,250000.0,2011-05-31,11356.0,0,74538,1,51.88,0,2,2013-03-05,16666.67,1,0,2,2278,22,NaN
67808,59,200000.0,PATNA,481851,1604830,2011-05-31,50,NaN,200000.0,2011-05-31,10000.0,0,74541,1,39.43,0,5,2013-01-05,18333.33,1,0,2,3280,20,NaN
68652,50,200000.0,BIKANER,465000,1468791,2011-05-07,61,NaN,200000.0,2011-05-07,10210.0,0,75453,0,43.01,0,2,2013-04-05,32000.00,1,0,16,3183,23,NaN
68654,54,300000.0,BIKANER,470000,1478603,2011-05-09,61,NaN,300000.0,2011-05-09,32350.0,0,75455,0,63.83,0,2,2014-05-10,27500.00,1,0,16,3186,36,NaN
68668,56,200000.0,BIKANER,470000,1690614,2011-06-15,61,NaN,200000.0,2011-06-15,29900.0,0,75469,0,42.55,0,4,2013-06-10,22500.00,1,0,16,3254,24,NaN
83075,60,1000000.0,NIZAMABAD,1316960,1639386,2011-06-06,186,NaN,1000000.0,2011-06-06,108335.0,0,92267,0,75.93,0,7,2014-05-15,12500.00,1,0,0,2254,36,NaN
83357,24,445000.0,RAIPUR,609880,7249225,2012-10-18,204,BEMETARA,445000.0,2012-10-18,50000.0,0,92554,0,72.97,0,5,2017-08-05,117258.33,7,0,12,1924,58,NaN
83564,36,405000.0,RAIPUR,593880,8085569,2012-12-14,204,BEMETARA,405000.0,2012-12-14,30000.0,0,92770,0,68.20,0,5,2017-07-15,50683.33,1,0,12,1924,55,NaN
83596,56,480000.0,RAIPUR,715000,8244263,2012-12-24,204,BEMETARA,480000.0,2012-12-24,79000.0,2,92805,0,67.13,0,7,2017-12-05,37850.00,1,0,12,2429,60,NaN
129166,28,470000.0,RAIPUR,550000,12903739,2013-10-28,204,BEMETARA,470000.0,2013-10-28,75000.0,2,7071,0,85.45,0,3,2018-08-10,5947.33,1,0,12,2295,60,NaN

In [43]:
data['ZiPCODE'] = data.groupby('BranchID')['ZiPCODE'].transform(lambda x: x.fillna(x.mode()[0]))

In [44]:
data['ZiPCODE'] = data['ZiPCODE'].astype(str)

In [45]:
data['ZiPCODE'] = LE.fit_transform(data['ZiPCODE'])

In [46]:
diff = pd.DataFrame()

In [47]:
diff['Amount'] = data['AmountFinance']-data['DisbursalAmount']
diff[diff['Amount'] != 0]

           Amount
112      62125.49
478      15311.55
921      30994.73
1730     38097.38
1731     25453.29
1851     94518.22
1889     31170.90
2311     60910.67
2479     23589.63
2578     83289.83
2616     62173.33
2772     58292.58
2856    121933.83
2915     74970.70
2942    142537.62
3018     81798.17
3020    162186.72
3053     76624.67
3128    111185.93
3186     87187.00
3252    131578.00
3259    108352.00
3302     79668.65
3803     50270.00
3808     65879.17
3832     77586.61
3919     92290.00
3953     79086.00
3966     94086.00
4114     22387.49
...           ...
139000   11735.98
139001   11571.00
139006   19814.36
139011   24357.80
139044   22000.00
139211   14950.00
139262   15792.00
139516   29474.29
139574   12720.92
140515   34936.40
140561   54000.00
140623   70732.22
140978   24995.36
141284   26659.70
141307   39708.14
141702   30208.80
141707   13430.95
141897   24146.89
142155   29162.28
142248   24709.77
142287   15163.68
142367   21908.00
142553      39.00
142693   32183.14
142709   10100.00
142762   20846.90
143014   44131.27
143105    8925.00
143108   17659.00
143175   10600.00

[1552 rows x 1 columns]

In [48]:
diff['Date'] = data['DisbursalDate']-data['AuthDate']
diff[diff['Date'] != '0 days']

         Amount    Date
33          0.0 -1 days
39          0.0 -3 days
42          0.0 -1 days
43          0.0 -1 days
47          0.0 -1 days
51          0.0 -1 days
52          0.0 -3 days
54          0.0 -2 days
55          0.0 -2 days
56          0.0 -1 days
57          0.0 -2 days
58          0.0 -1 days
59          0.0 -2 days
130         0.0 -1 days
135         0.0 -1 days
174         0.0  1 days
182         0.0  1 days
190         0.0  1 days
329         0.0 -2 days
357         0.0 -1 days
379         0.0 -1 days
380         0.0 -1 days
399         0.0 -1 days
401         0.0 -1 days
405         0.0 -1 days
406         0.0 -1 days
407         0.0 -1 days
409         0.0 -1 days
410         0.0 -1 days
432         0.0 -1 days
...         ...     ...
143165      0.0 -1 days
143167      0.0 -1 days
143175  10600.0 -1 days
143179      0.0 -3 days
143180      0.0 -1 days
143193      0.0 -1 days
143214      0.0 -1 days
143215      0.0 -1 days
143216      0.0 -1 days
143230      0.0 -1 days
143243      0.0 -1 days
143244      0.0 -1 days
143248      0.0 -1 days
143265      0.0 -1 days
143288      0.0 -1 days
143292      0.0 -1 days
143297      0.0 -1 days
143300      0.0 -2 days
143312      0.0 -2 days
143327      0.0 -1 days
143328      0.0 -1 days
143329      0.0 -1 days
143353      0.0 -2 days
143359      0.0 -1 days
143362      0.0 -1 days
143366      0.0 -1 days
143368      0.0 -2 days
143388      0.0 -1 days
143398      0.0 -1 days
143399      0.0 -1 days

[18207 rows x 2 columns]

In [49]:
((data.isnull().sum())/(len(data)))*100

AGE                0.000000
AmountFinance      0.000000
Area               8.506974
AssetCost          0.000000
AssetID            0.000000
AuthDate           0.000000
BranchID           0.000000
City               7.849372
DisbursalAmount    0.000000
DisbursalDate      0.000000
EMI                0.000000
Frequency          0.000000
ID                 0.000000
InstlmentMode      0.000000
LTV                0.000000
LoanStatus         0.000000
ManufacturerID     0.000000
MaturityDAte       0.000000
MonthlyIncome      0.000000
PaymentMode        0.000000
SEX                0.000000
State              0.000000
SupplierID         0.000000
Tenure             0.000000
ZiPCODE            0.000000
dtype: float64

In [50]:
data.drop(['Area','City','AssetID'],axis=1,inplace=True)
data.head()

,AGE,AmountFinance,AssetCost,AuthDate,BranchID,DisbursalAmount,DisbursalDate,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MaturityDAte,MonthlyIncome,PaymentMode,SEX,State,SupplierID,Tenure,ZiPCODE
0,49,275000.0,450000,2012-02-10,0,275000.0,2012-02-10,24000.0,0,1,0,61.11,0,8,2016-01-15,35833.33,9,0,12,1991,48,4976
1,23,350000.0,485000,2012-03-31,128,350000.0,2012-03-31,10500.0,0,2,1,70.00,0,5,2016-02-15,666.67,7,0,12,2861,47,5017
2,39,519728.0,690000,2017-06-17,0,519728.0,2017-06-17,38300.0,1,3,0,69.77,1,4,2023-02-10,45257.00,3,0,12,828,68,4916
3,24,400000.0,480000,2013-11-29,9,400000.0,2013-11-29,11600.0,0,7,1,80.92,0,4,2017-11-10,20833.33,1,0,12,2492,48,5121
4,56,440000.0,619265,2011-12-08,26,440000.0,2011-12-08,15000.0,0,8,0,71.05,0,2,2015-07-05,27313.67,1,0,4,1985,44,5475

In [51]:
data.dtypes

AGE                         int32
AmountFinance             float64
AssetCost                   int64
AuthDate           datetime64[ns]
BranchID                    int32
DisbursalAmount           float64
DisbursalDate      datetime64[ns]
EMI                       float64
Frequency                   int64
ID                          int64
InstlmentMode               int64
LTV                       float64
LoanStatus                  int64
ManufacturerID              int32
MaturityDAte       datetime64[ns]
MonthlyIncome             float64
PaymentMode                 int32
SEX                         int64
State                       int32
SupplierID                  int32
Tenure                      int64
ZiPCODE                     int32
dtype: object

In [52]:
data['MaturityDAte_day'] = data['MaturityDAte'].dt.day
data['MaturityDAte_month'] = data['MaturityDAte'].dt.month
data['MaturityDAte_year'] = data['MaturityDAte'].dt.year
data['AuthDate_day'] = data['AuthDate'].dt.day
data['AuthDate_month'] = data['AuthDate'].dt.month
data['AuthDate_year'] = data['AuthDate'].dt.year
data['DisbursalDate_day'] = data['DisbursalDate'].dt.day
data['DisbursalDate_month'] = data['DisbursalDate'].dt.month
data['DisbursalDate_year'] = data['DisbursalDate'].dt.year
data.drop(['MaturityDAte','AuthDate','DisbursalDate'], axis=1, inplace=True)

In [53]:
data.drop(['MaturityDAte','AuthDate','DisbursalDate'], axis=1, inplace=True)

In [54]:
data.head()

,AGE,AmountFinance,AssetCost,BranchID,DisbursalAmount,EMI,Frequency,ID,InstlmentMode,LTV,LoanStatus,ManufacturerID,MonthlyIncome,...,State,SupplierID,Tenure,ZiPCODE,MaturityDAte_day,MaturityDAte_month,MaturityDAte_year,AuthDate_day,AuthDate_month,AuthDate_year,DisbursalDate_day,DisbursalDate_month,DisbursalDate_year
0,49,275000.0,450000,0,275000.0,24000.0,0,1,0,61.11,0,8,35833.33,...,12,1991,48,4976,15,1,2016,10,2,2012,10,2,2012
1,23,350000.0,485000,128,350000.0,10500.0,0,2,1,70.00,0,5,666.67,...,12,2861,47,5017,15,2,2016,31,3,2012,31,3,2012
2,39,519728.0,690000,0,519728.0,38300.0,1,3,0,69.77,1,4,45257.00,...,12,828,68,4916,10,2,2023,17,6,2017,17,6,2017
3,24,400000.0,480000,9,400000.0,11600.0,0,7,1,80.92,0,4,20833.33,...,12,2492,48,5121,10,11,2017,29,11,2013,29,11,2013
4,56,440000.0,619265,26,440000.0,15000.0,0,8,0,71.05,0,2,27313.67,...,4,1985,44,5475,5,7,2015,8,12,2011,8,12,2011

In [55]:
train = data.iloc[:train_shape[0]]
test = data.iloc[train_shape[0]:]

In [56]:
print("Shape of Train :", train.shape)
print("Shape of Test :", test.shape)
print("Shape of Submission :", submission.shape)

Shape of Train : (128655, 28)
Shape of Test : (14745, 28)
Shape of Submission : (14745, 2)

In [57]:
train.dtypes

AGE                      int32
AmountFinance          float64
AssetCost                int64
BranchID                 int32
DisbursalAmount        float64
EMI                    float64
Frequency                int64
ID                       int64
InstlmentMode            int64
LTV                    float64
LoanStatus               int64
ManufacturerID           int32
MonthlyIncome          float64
PaymentMode              int32
SEX                      int64
State                    int32
SupplierID               int32
Tenure                   int64
ZiPCODE                  int32
MaturityDAte_day         int64
MaturityDAte_month       int64
MaturityDAte_year        int64
AuthDate_day             int64
AuthDate_month           int64
AuthDate_year            int64
DisbursalDate_day        int64
DisbursalDate_month      int64
DisbursalDate_year       int64
dtype: object